<!DOCTYPE html>
<html lang="en">
  <head>
    <title>新闻详情数据-<%-detail.title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/css/basic.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
        <!-- 使用模板数据 -->
    <h1>新闻详情数据</h1>
    <h2><%-detail.title%></h2>
    <p>username:<%-detail.username%></p>
    <p>作者(author):<%-detail.author%></p>
    <p>描述: <%-detail.summary%></p>
    <img src="<%-detail.pic%>" alt="">
    <div class="content">
      <%-detail.content%>
    </div>
    </div>
  
  </body>
</html>